!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stocks
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-dark.bg-dark.justify-content-between
      %span.navbar-brand.mb-0.h1
        Stock Middleman
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link Logout
    = yield