!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stocks
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-dark.bg-dark.justify-content-between
      %a.navbar-brand.mb-0.h1{href: '/'}
        Stock Middleman
      -if current_user
        %ul.navbar-nav
          %li.nav-item
            =link_to 'Logout', destroy_user_session_path, method: :delete
    %div.container
      %div.d-flex.justify-content-center
        %div
          = yield